body {
    margin: 0;
}

h1 {
    margin: 0;
}

.main-wrapper {
    background: cadetblue;
    height: 100vh;
}

.main-title {
    color: red;
}

.sub-title {
    color: green;
}

.menu-item {
    color: purple;
}